# Dependencies
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Env
.env
